@model MiniProject_eLearning_ASPNET_MVC.Models.SocialMedia

<h2>Social Media Details</h2>

<div>
    <h4>Social Media Name: @Model.SocialName</h4>
    <h4>Social Media Link: @Model.SocialLink</h4>
</div>

<a asp-action="Index" class="btn btn-primary">Back to List</a>
